



body {
  
    background: #eee;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  h1{
    text-align: center;
    color: red;
  }


   #pizza {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 15px;
    width: 80%;
    margin: auto;
  } 

  .whereToEat{

    display:flex; 

    
  }


  .potting {
   
   display: flex;
  }

  .totalPrice{
    margin-top: 50px;
  }

  .operation{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 15px;
    width: 80%;
    margin: auto;
    justify-content: center;
   
   
  }







  fieldset {
   
    
    border: none;
   
  }


  button {
    background-color: #6dcc7a;      
    color: white;                  
    border: none;                  
    padding: 10px 20px;             
    border-radius: 8px;            
    font-size: 16px;
    font-weight: 600;
  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* soft shadow */
    transition: all 0.3s ease;       /* smooth hover animation */
  }

 